<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime executionTimeout="240" maxRequestLength="8192000" targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="connstring" connectionString="User ID=sa; Password=laijingwu; Initial Catalog=news; Data Source=.\MSSQSERVER; Connect Timeout=30" providerName="System.Data.SqlClient"></add>
  </connectionStrings>

  <appSettings>
    <add key="AuthKey" value="laijingwu.com"></add>
  </appSettings>

</configuration>
